.card {
  border-radius: 20px;
  background: $babyBlue;
  box-shadow: 4px 4px black;
  @include boxGen(250px, 800px);
  @include position(relative, 0, 0, 0, 0);
  @include customText(initial, initial, 'Open Sans', #fff, center, 1px);
  .card-counter {
    background: darken($babyBlue, 30%);
    border-radius: 50%;
    padding: 10px;
    @include boxGen(50px, 50px);
    @include position(absolute, 10px, initial, initial, 10px);
    @include customText(20px, 800, 'Open Sans', $babyBlue, center, 1px);
  }
  .card-front {
    @include boxGen(100%, 100%);
    @include flex(space-between, column, center);
    padding: 15px;
    h3:first-child { 
      font-size: 30px;
      margin: 0; 
    }
    .snippet {
      margin: 0;
      padding: 10px;
      background: darken($babyBlue, 30%);
      border-radius: 10px;
      width: 100%;
      color: $babyBlue;
    }
  }
  .left,
  .right {
    height: 50px;
    border: none;
    background: none;
    opacity: 0.3;
    @include customText(30px, 700, 'Open Sans', $pink, center, 3px);
    span {
      background: url("./../media/arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      @include boxGen(50px, 50px);
    }
    &:hover { cursor: not-allowed; }
  }
  .left {
    @include position(absolute, -50px, initial, initial, -10px);
    span {
      transform: scaleX(-1);
      filter: FlipH;
      @include position(absolute, 0, initial, initial, -35px);
    }
  }
  .right {
    @include position(absolute, -50px, -10px, initial, initial);
    span {
      @include position(absolute, 0, -35px, initial, initial);
    }
  }
}