.card {
  width: 200px;
  height: 250px;
  border: solid black 2px;
  text-align: center;
  color: $pink;
  @include flex(space-around, column, center);
  flex: 0 0 auto;
  //
  // display: none;
  h1 {
    font-size: 15px;
  }
  h2 {
    font-size: 12px;
  }
  button span {
    background: url("./../media/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  .left {
    @include position(absolute, 100px, initial, initial, 50px);
    span {
      transform: rotate(180deg);
      @include position(absolute, 0, initial, initial, -35px);
    }
  }
  .right {
    @include position(absolute, 100px, 50px, initial, initial);
    span {
      @include position(absolute, 0, -35px, initial, initial);
    }
  }
  button {
    color: $pink;
    // width: 50px;
    height: 50px;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 3px black;
  }
}