.header {
  height: 100px;
  color: $pink;
  @include position(fixed, 0, 0, initial, 0);
  @include flex(center, row, center);
  h1 {
    @include customText(46px, 400, 'Pacifico', $pink, center, 3px);
  }
  p {
    font-size: 20px;
    text-shadow: 2px 2px black;
  }
  p:nth-child(2) {
    @include position(absolute, 0, 20px, initial, initial);
  }
  p:last-child {
    @include position(absolute, initial, 20px, 0, initial);
  }
  span {
    color: #fff;
    font-weight: 700;
  }
}

