.header {
  height: 100px;
  color: $pink;
  text-shadow: 2px 2px black;
  // border: solid black 2px;
  // background: white;
  @include position(fixed, 0, 0, initial, 0);
  @include flex(center, row, center);
  h1 {
    font-family: 'Pacifico';
    font-size: 46px;
  }
  p {
    font-size: 20px;
  }
  p:nth-child(2) {
    @include position(absolute, 0, 20px, initial, initial);
  }
  p:last-child {
    @include position(absolute, initial, 20px, 0, initial);
  }
}

