.solution {
  width: 40%;
  @include flex(center, row, center);
  button {
    margin: 30px 0 0 0;
    border-radius: 20px;
    background: $pink;
    box-shadow: 4px 4px black;
    transition: all .2s ease;
    @include boxGen(75px, 100%);
    @include customText(30px, 700, 'Open Sans', white, center, 3px);
    &:hover { background: darken($pink, 10%); cursor: pointer; }
    &:active { opacity: 0.5; }
  }
}