@mixin flex($justify, $direction, $align) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

$pink: hsl(336, 60%, 78%);
$babyBlue: hsl(180, 32%, 67%);