// .hide {
//   display: none;
// }

.screen {
  @include position(absolute, 0, 0, 0, 0);
}

.welcome {
  z-index: 1;
  padding: 10px;
  border: solid black 2px;
  background: white;
  margin: auto;
  width: 600px;
  text-align: center;
  @include position(relative, 100px, initial, initial, initial);
  @include flex(space-between, column, center);
  h1 {
    font-size: 3vw;
    margin: 0;
  }
  h3 {
    font-size: 2vw;
    margin: 0;
  }
  p {
    margin: 0;
  }
}