// .hide {
//   display: none;
// }

.screen {
  @include position(absolute, 0, 0, 0, 0);
  background: hsla(0, 0%, 0%, 0.75);
  z-index: 1;
}

.welcome {
  padding: 25px;
  margin: auto;
  border-radius: 20px;
  background: $babyBlue;
  @include boxGen(400px, 900px);
  @include position(relative, 100px, initial, initial, initial);
  @include flex(space-between, column, center);
  h1 {
    margin: 0;
    @include customText(40px, inherit, 'Open Sans', #fff, center, 2px);
    span { font-family: 'Pacifico'; font-size: 44px; }
  }
  h3 {
    margin: 0;
    @include customText(20px, 800, 'Open Sans', #fff, center, 2px);
  }
  p {
    margin: 0;
    @include customText(20px, 800, 'Open Sans', #fff, center, 1px);
  }
}